:root {
  --nav-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --description-text-color: #757575;
  --nav-filters-color: #212121;
}

/* ШАПКА */

header {
  background-color: #ffffff;
}

.list {
  list-style: none;
}

/* logo */
.logo {
  color: #000000;
}

/* site-nav */
.site-nav a {
  color: var(--nav-text-color);
}

.site-nav a.current {
  color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

/* address-header */
.address-header a {
  color: #757575;
}

.address-header a:hover,
.address-header a:focus {
  color: var(--accent-color);
}

/* БОДИ */

/* фильтры */

.filters-list a {
  background-color: #f5f4fa;
  color: var(--nav-filters-color);
}

.filters-list a:hover,
.filters a:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* проекты */

.project-list .title {
  color: var(--title-text-color);
}

.project-list .desc {
  color: var(--description-text-color);
}
