:root {
  --nav-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --description-text-color: #757575;
}

/* ШАПКА */
header {
  background-color: #ffffff;
}

.list {
  list-style: none;
}

/* logo */
.logo {
  color: #000000;
}

/* site-nav */
.site-nav a {
  color: var(--nav-text-color);
}

.site-nav a.current {
  color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

/* address-header */
.address-header a {
  color: #757575;
}

.address-header a:hover,
.address-header a:focus {
  color: var(--accent-color);
}
/* цвет основного текста #212121; */
/* вторичный цвет текста #757575; */
/* белый #FFFFFF; */
/* акцент #2196F3; */
/* в футере адрес (тел/мыло) rgba(255, 255, 255, 0.6); */

/* баннер */
.hero {
  background-color: #2f303a;
}

.hero-title,
.button {
  color: #ffffff;
}

.button {
  background-color: var(--accent-color);
}

/* цвет заголовков секций */
.section-title {
  color: var(--title-text-color);
}

/* особенности */
.feature-list .title {
  color: var(--title-text-color);
}

.feature-list .desc {
  color: var(--description-text-color);
}

/* чем мы занимаемся */

/* наша команда */
.team-list .title {
  color: var(--title-text-color);
}

.team-list .desc {
  color: var(--description-text-color);
}

.team-section {
  background-color: #f5f4fa;
}
