:root {
  --nav-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --description-text-color: #757575;
}

body {
  background-color: #ffffff;

  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

/* ШАПКА */

/* logo */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.web-color {
  color: var(--accent-color);
}

/* site-nav */
.site-nav a {
  color: var(--nav-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.site-nav a.current {
  color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

/* address-header */
.address-header a {
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.address-header a:hover,
.address-header a:focus {
  color: var(--accent-color);
}
/* цвет основного текста #212121; */
/* вторичный цвет текста #757575; */
/* белый #FFFFFF; */
/* акцент #2196F3; */
/* в футере адрес (тел/мыло) rgba(255, 255, 255, 0.6); */

/* баннер */
.hero {
  background-color: #2f303a;
}

.hero-title,
.button {
  color: #ffffff;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.button {
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  text-decoration: none;
}

/* цвет заголовков секций */
.section-title {
  color: var(--title-text-color);
}

/* особенности */
.feature-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.feature-list .desc {
  color: var(--description-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* чем мы занимаемся */
.work-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* наша команда */
.team-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .desc {
  color: var(--description-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-section {
  background-color: #f5f4fa;
}

/* футер */
.footer {
  background-color: #2f303a;
}

.studio-color {
  color: #ffffff;
}

.footer .map {
  color: #ffffff;
}

.footer .address {
  color: rgba(255, 255, 255, 0.6);
}

.footer .text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
